<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Flavor: ' + flavor.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="review-listing">
    <p th:text="${'Name: ' + type.name}"></p>
    <p th:text="${'Description: ' + type.description}"></p>
    <p> Reviews:
    <ul>
        <li th:each="review : ${flavor.reviews}">
            <a th:href="@{'/view/' + ${review.id}}" th:text="${review.name}"></a>
        </li>
    </ul>
    </p>
</div>